<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow nav-custom">
    <div class="collapse navbar-collapse">
        <a routerLink="/dashboard" class="navbar-brand" href="#">Gitlab + |</a>
        <ul class="navbar-nav mr-auto navbar-menu">
            <li class="nav-item">
                <a routerLink="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a routerLink="/issues" class="nav-link">Issues</a>
            </li>
            <li class="nav-item">
                <a routerLink="/burndown" class="nav-link">Burndown</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hiago Hoffman</span>
                    <img class="img-profile rounded-circle"
                        src="https://s3.amazonaws.com/img.iluria.com/product/63C8D0/F58B31/450xN.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="signOut()" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
