<app-nav-bar></app-nav-bar>
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Burndown</h1>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <app-app-filter-issues-burndown></app-app-filter-issues-burndown>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12 mb-4">
                    <div style="width:800px;">
                        <canvas id="burndown43"></canvas>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


     