<app-nav-bar></app-nav-bar>
​
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
​
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <app-card-quantitativo-principal></app-card-quantitativo-principal>
                        </div>
                        <div class="col-md-12">
                            <app-card-quantitativo-principal></app-card-quantitativo-principal>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <app-quantidade-telas-overview></app-quantidade-telas-overview>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <app-card-quantitativo-principal></app-card-quantitativo-principal>
                        </div>
                        <div class="col-md-12 mb-4">
                            <app-card-quantitativo-principal></app-card-quantitativo-principal>
                        </div>
                        <div class="col-md-12">
                            <app-card-quantitativo-principal></app-card-quantitativo-principal>
                        </div>
                    </div>
                </div>

​                <!-- !compenentes de telas -->
                <div class="col-md-6">
                    <div class="card shadow mb-2">
                        <div class="card-header py-3 d-flex flex-row  justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        </div>
                        <div class="card-body">
                            <app-grafico-bar-chart></app-grafico-bar-chart>
                        </div>
                    </div>
                </div>

                <!-- !compenentes de telas -->
                <div class="col-md-4">
                    <app-grafico-pie></app-grafico-pie>
                </div>
            </div>
        </div>
    </div>
</div>
