<div class ="row">
    <div class="col-xl-4 col-md-4">
        <div class="form-group">
            <label for="Sprint">Sprint</label>
            <select class="form-control" id="Sprint">
                <option *ngFor="let sprint of sprints;">{{sprint}}</option>
            </select>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
            <div class="form-group">
                <label for="Label">Label</label>
                <select class="form-control" id="Label">
                    <option *ngFor="let label of labels;">{{label}}</option>
                </select>
            </div>
    </div>

    <div class="col-xl-4 col-md-4">
            <div class="form-group">
                <label for="Usuarios">Usuários</label>
                <select class="form-control" id="Usuarios">
                    <option *ngFor="let user of users;">{{user}}</option>
                </select>
            </div>
    </div>
</div>