<div class="card shadow h-100">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#Issue</th>
                            <th scope="col">Aberta/Fechada</th>
                            <th scope="col">Estimativa</th>
                            <th scope="col">Tempo Gasto</th>
                            <th scope="col">Usuário</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">#15 Melhoria do Layout da tela Filha</th>
                            <td>
                                <div class="circle opened-closed">Aberto</div>
                            </td>
                            <td>
                                <div class="nagative-estimation">1d 6hrs</div>
                            </td>
                            <td>
                                <div class="circle opened-closed">2d</div>
                            </td>
                            <td>
                                <img src="assets/img/user.png" alt="Avatar" class="avatar">
                                Rodrigo
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#25 Melhoria do Layout da tela Pai</th>
                            <td>
                                <div class="circle opened-closed">Fechada</div>
                            </td>
                            <td>
                                <div class="nagative-estimation">4hrs</div>
                            </td>
                            <td>
                                <div class="circle opened-closed">1d</div>
                            </td>
                            <td>
                                <img src="assets/img/user.png" alt="Avatar" class="avatar">
                                Cobol
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#25 Melhoria do fluxo da tela Pai</th>
                            <td>
                                <div class="circle opened-closed">Aberta</div>
                            </td>
                            <td>
                                <div class="positive-estimation">1d 6hrs</div>
                            </td>
                            <td>
                                <div class="circle opened-closed">6hrs</div>
                            </td>
                            <td>
                                <img src="assets/img/user.png" alt="Avatar" class="avatar">
                                Emilliano
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">#25 Melhoria do fluxo da tela de Impostos</th>
                            <td>
                                <div class="circle opened-closed">Aberta</div>
                            </td>
                            <td>
                                <div class="positive-estimation">1d 6hrs</div>
                            </td>
                            <td>
                                <div class="circle opened-closed">1d</div>
                            </td>
                            <td>
                                <img src="assets/img/user.png" alt="Avatar" class="avatar">
                                Paulo
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
