
  <div class="card shadow mb-2">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Types Overview</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart pt-2 pb-2">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [chartType]="pieChartType"
        [colors]="pieChartColors">
        </canvas>
      </div>
    </div>
  </div>


<script src="node_modules/chart.js/src/chart.js"></script>
