 <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Issue Overview</h6>
      </div>
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="pieChartColors">
        </canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> To Do
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-warning"></i> Staging
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> RP
          </span>
        </div>
      </div>
    </div>
  </div>

    
    <script src="node_modules/chart.js/src/chart.js"></script>