
    <div class="col-xl-12 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-1">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-3">
              <div class="text-xs-4 font-weight-bold text-primary text-uppercase mb-1 ">ISSUES TO DO</div>
              <div class="h4 mb-0 font-weight-bold text-gray-800"> 30 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs-4 font-weight-bold text-info text-uppercase mb-1">ISSUES STAGING</div>
              <div class="h4 mb-0 font-weight-bold text-gray-800"> 60 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs-4 font-weight-bold text-success text-uppercase mb-1">ISSUES RP</div>
              <div class="h4 mb-0 font-weight-bold text-gray-800"> 10 </div>
            </div>
          </div>
        </div>
      </div>
    </div>