<app-nav-bar></app-nav-bar>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Issues</h1>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Filtrar Issues</h6>
                        </div>
                        <div class="card-body">
                            <div class="pb-2">
                                <div class="btn-group mr-3">
                                    <button type="button" class="btn btn-outline-success">Plain ol' button</button>
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                      <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
                                      <div class="dropdown-menu" ngbDropdownMenu>
                                        <button ngbDropdownItem>One</button>
                                        <button ngbDropdownItem>Two</button>
                                        <button ngbDropdownItem>Four!</button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">

                    <!-- compenentes de telas -->
                    <div class="row">
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- !compenentes de telas -->

                </div>
                <div class="col-md-6">
                    <div class="card shadow mb-2">
                        <div class="card-header py-3 d-flex flex-row  justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        </div>
                        <div class="card-body">
                            <!-- <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <app-grafico-pie></app-grafico-pie>
                </div>
            </div>
        </div>
    </div>
</div>
